body {
  text-align: center;
  font-family: Helvetica; sans-serif;
}

h1 {
font-family: Helvetica;
font-size: 70px;
font-weight: bold;
color: white;
}


ul.vertnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

header {
  background-image: url(../../resources/images/the-flatiron-building.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3  {
  font-family: Helvetica
  font-size: 32px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}


.ny {
  background-image: url(../../resources/images/the-flatiron-building.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
  color: white;
  font-family: Helvetica
}

.footnav {
  font-size: 11px;
  color: white;
  font-family: Helvetica
}
