body {
  text-align: center;
  font-family: Helvetica;
  }


ul.vertnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../../resources/images/the-flatiron-building.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ny {
  background-image: url(../../resources/images/the-flatiron-building.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: dimgray;
  text-align: left;

}
